<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name, id: :project_Name %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address, id: :project_Address %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site, id: :project_site %>
  </div>

  <div class="field">
    <%= form.label :Superintendent %>
    <%= form.text_field :Superintendent, id: :project_Superintendent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
